/*Title Section */
#title{
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Generals */
body{
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-Bold";
}


p{
  color: #8f8f8f;
}

/* Headings */
.big-heading{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding:7% 15%;
}
.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
  font-size: bold;
}

/* Navigation Bar */
.navbar{
  padding:0 0  4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttpns */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title İmage */

.title-img{
  width: 80%;
  transform: rotate(25deg);
  padding-left:3rem;
  padding-bottom: 2rem;
  position: relative;
  left: 3rem;

}

.icon{
  color: #ef8172;
}

.icon:hover{
  color: #ff4c68;
}

.h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

/* Feature Section */

.feature-title{
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.feature-box{
  padding: 5%;
}

#features{

background-color: white;
}
/* Testimonial Section */

#testimonials{
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px 20px 0 20px;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item{
  padding:7% 15%;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-imgs{
  margin:  0 2rem 2rem 2rem;
  width: 70%;
}

/* Pricing Section */
#pricing{
  padding: 100px;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}
/* Media Queries */

@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-img{
    width: 60%;
    position: static;
    transform: rotate(0);
  }

}

/* CTA Section */
#cta{
  background-color: #ff4c68;
}

/* Footer Section */
.footer-icon{
  padding: 1rem 1rem;
}
